fastapi==0.68.1
python-dotenv==0.19.0
uvicorn==0.15.0
mongoengine==0.23.1
redis
requests
opentelemetry-distro==0.28b0
opentelemetry-instrumentation==0.28b0
opentelemetry-exporter-otlp==1.9.0
opentelemetry-api==1.9.0
